.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(121, 14, 103);
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: rgb(72, 157, 191);
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 0, 98);
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
